
<nav class="navbar navbar-default">
<!-- <nav class="nav nav-tab"> -->
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href=http://www.yahoo.com>Learn to Code</a> -->
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "About", about_path %> </li>
      <!-- <li><a href="#">Page 3</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>    
  </div>
</nav>
